@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');

body {
    background-color: #FB6B6B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.welcomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomePage img {
    width: 136px;
    height: 161px;
    margin-bottom: 13px;
}

h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;

    margin-bottom: 30px;
}

button {
    width: 246px;
    height: 54px;
    background-color: #FFFFFF;

    border: 1px solid #D70900;
    border-radius: 5px;

    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #D70900;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 57px;
}

.header img {
    width: 52px;
    height: 60px;
    margin-right: 20px;
}

.header h1 {
    margin: 0;
}

.questions {
    margin-bottom: 116px;
    overflow-y: scroll;
}

.questions button {
    width: 300px;
    height: 65px;
    box-sizing: border-box;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    border: none;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);

    color: #333333;
}

.questions p {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.answerFace p, .questionFace p {
    font-weight: 400;
    margin-bottom: 40px;
    text-align: left;
}

ion-icon {
    font-size: 21px;
}

.footer {
    width: 100vw;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;
}

.footer p {
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.sequence {
    display: flex;
}

.footerFinal {
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

    background-color: #FFFFFF;
}

.footerFinal p {
font-family: 'Recursive', sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
}

.footerFinal .firstLine {
    display: flex;
    align-items: center;
}

.firstLine img {
    margin-right: 15px;
}

.firstLine p {
    font-weight: 700;
}

.footerFinal :nth-child(2) {
    margin-bottom: 15px;
    text-align: center;
}

button.questionFace, button.answerFace {
    width: 299px;
    height: 131px;
    box-sizing: border-box;
    display: flex;
    padding: 15px;

    position: relative;
}

.questionFace img {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.resultButtons {
    display: flex;
    justify-content: space-between;

    position: absolute;
    bottom: -18px;
    left: 12px;
}

.resultButtons button {
    width: 85px;
    height: 37px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: white;
    text-align: center;
}

.not {
    background-color: red;
}

.almost {
    background-color: #FF922E;
    margin-left: 10px;
    margin-right: 10px;
}

.zap {
    background-color: #2FBE34;
}


.resultRed p, .resultRed ion-icon {
    text-decoration:line-through;
    text-decoration-color: #D70900;
    color: #D70900;
}

.resultYellow p, .resultYellow ion-icon {
    text-decoration:line-through;
    text-decoration-color: #FF922E;
    color: #FF922E;
}

.resultGreen p, .resultGreen ion-icon {
    text-decoration:line-through;
    text-decoration-color: #2FBE34;
    color: #2FBE34;
}